body{
    margin:0;
    padding:0;
}

p{
    line-height: 1.3;
}

.container-geral{
    width:100%;
    height:100vh;
}

.menu-icon{
    height: 30px;
    width: 42px;
    position: fixed;
    left: 88%;
    top: 7%;
    cursor: pointer;
}

.header-title{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding-top:3.5em;
}

.texto__header-title{
    display:inline-flex;
    flex-direction:column;
    width:50%;
    align-items: center;
}

.texto__header-title h1{
    font-family: 'Volkhov', serif;
    font-size:5.5em;
    display:inline-block;
    margin:0;
    text-align:center;
    position:relative;
}

.texto__header-title h1::before{
    content: "";
    display: inline-block;
    position: absolute;
    top: 89%;
    left: 19%;
    width: 63%;
    height: 3px;
    z-index: -1;
    background-color: #ff4040;
}

.texto__header-title h2{
    font-family:'raleway', sans-serif;
    font-weight:200;
    margin:0;
    text-align:center;
    font-size:2em;
    position:relative;
}

.texto__header-title h2::before{
    content: "";
    display: inline-block;
    position: absolute;
    top: 119%;
    left: 17%;
    width: 67%;
    height: 2px;
    z-index: -1;
    background-color: #ff4040;
}

.img-banner{
    width:100%;
}

.container-heroimg{
    width:100%;
    position:relative;
}

.container-heroimg img{
    width:100%;
    height:40%;
}

.paragrafo__container{
    margin-top: 2.5em;
    margin-bottom: 18px;
    width:65%;
    font-family:'raleway', sans-serif;
    min-width: 570px;
}

.paragrafo__container p{
    font-weight:400;
}

.botao__container{
    z-index:4;
}

.botao__container button{
    background-color:white;
    font-family:"raleway", sans-serif;
    font-weight:500;
    border:1px solid #ff4040;
    border-bottom:4px solid #ff4040;
    font-size:1.25em;
    padding: .5em 1em;
    transform: translatey(50%);
    cursor:pointer;
    z-index:5;
    transition:.7s;
}

.botao__container button:hover{
     background-color: #ff4040;
     color: white;
     border: none;
     border-top:1px solid #ff4040;
     border-bottom: 4px solid white;
}

.next-page{
    display: inline-block;
    cursor: pointer;
    background-color: white;
    height: 4em;
    position: absolute;
    padding: 15px 15px 0px 15px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -104%);
    font-family: 'raleway', sans-serif;
    border: 1px solid #ff4040;
    border-bottom: none;
}

.next-page span{
    font-weight:400;
    position:relative;
}

.next-page span::before{
    content: "";
    display: inline-block;
    position: absolute;
    top: 220%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-image: url(imagens/down-arrow.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size: contain;
}
