.menu-icon-container{
    position: fixed;
    left: 67%;
    top: 11%;
    z-index: 44;
    transition:.8s;
    transform: translatex(220px);
}

.menu-icon-container .menu-icon{
    height: 40px;
    width: 47px;
    cursor: pointer;
    position:relative;
    transition:.5s;
    right: 60px;
    background-image:url(imagens/menu-white.png);
    background-position:center;
    background-repeat:no-repeat;
    background-size: contain;
}

.menu-list-container{
    position: absolute;
    width: 153px;
    top: -14px;
    left: 224px;
    background-color: rgba(255, 255, 255, .5);
    padding: 4px 29px;
    border-radius: 18px;
}

.menu-list-container .menu-ul{
    padding-left:0;
    list-style-type: none;
}

.menu-list-container .menu-ul a{
    font-size: 1.6em;
    text-decoration:none;
    color:black;
}

.menu-ul a{
    display:block;
    font-family: 'Volkhov', serif;
    position:relative;
    z-index:30;
}

.menu-ul li{
    display:inline-block;
    position:relative;
}

.menu-ul li::before{
    content: '';
    display: inline-block;
    position: absolute;
    top: 65%;
    will-change:background-image;
    transition:.5s;
    width: 0%;
    height: 12%;
    opacity:.8;
    background-color: #ff4040;
    z-index:-1;
}

.menu-ul li:hover::before{
    width:102%;
}

.menu-ul a:not(:last-child){
    margin-bottom:10px;
}

/* CLASSES PARA MUDANCAS*/

.muda-translate{
    transform:translateX(0) !important;
}

.right-toggle{
    transform: translatex(100px);
    background-image:url(Imagens/next-white.png) !important;
}